{
	servers :443 {
		protocols h1 h2
	}
}

harmony-resolver.duckdns.org {
	encode zstd gzip

	@resolverAudio path /resolver/v1/tracks/*/audio
	handle @resolverAudio {
		uri strip_prefix /resolver
		reverse_proxy nginx:80 {
			flush_interval 10ms
		}
	}

	handle_path /resolver/* {
		reverse_proxy nginx:80
	}

	handle /cloud/* {
		reverse_proxy cloud-api:8080
	}

	handle /health/* {
		reverse_proxy nginx:80
	}

	respond 404
}
